<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
      <label>Team Name: <input type="text" name="name" /></label><br/>
      <label>Coach: <input type="text" name="coach" /></label><br/>
      <label>Point Guard: <input="text" name="pg" /></label><br/>
      <label>Shooting Guard: <input="text" name="sg" /></label><br/>
      <label>Small Forward: <input="text" name="sf" /></label><br/>
      <label>Power Forward: <input="text" name="pf" /></label><br/>
      <label>Center: <input="text" name="c" /></label><br/>
      <
    </form>
 </body>
</html>


